<!-- Navigation section -->
<% if logged_in? %>

  <h1>Hi <%= current_user.username %></h1>
  <%= button_to "Logout", '/logout', method: :post %>

<% else %>

  <%= button_to "Login", '/login', method: :get %>
  <%= button_to "Sign Up", '/users/new', method: :get %>

<% end %>

<!-- URLs section -->

<!-- Displays a generated slug if there's one available. -->
<a href="<%= flash.notice %>">
  <%= "#{flash.notice}" %>
</a>

<%= form_with scope: :url, url: urls_path, local: true do |form| %>

  <% if @url.errors.any? %>
    <ul style="list-style-type: none">
      <% @url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  <% end %>

  <br>

  <%= form.text_field :original_url, placeholder: "Link" %>

  <%= form.submit "Generate Link" %>
<% end %>

<br>

<% if logged_in? %>
  <table border=1>
    <tr>
      <th>Link</th>
      <th>Slug</th>
      <th>Disable</th>
      <th>Delete</th>
    </tr>

    <% @urls&.each do |url| %>
    <tr>
      <td><%= url.original_url %></td>
      <td><%= url.slug %></td>
      <td>
        <% if url.active %>
        <%= button_to "Disable", "urls/#{url.id}", method: :patch %>
        <% else %>
        <%= button_to "Enable", "urls/#{url.id}", method: :patch %>
        <% end %>
      </td>
      <td><%= button_to "Delete", "urls/#{url.id}", method: :delete %></td>
    </tr>
    <% end %>

  </table>
<% end %>