<!-- Displays a generated slug if there's one available. -->
<a href="<%= "#{flash.notice}" %>">
  <%= "#{flash.notice}" %>
</a>

<%= form_with scope: :url, url: urls_path, local: true do |form| %>

  <% if @url.errors.any? %>
    <ul style='list-style-type: none'>
      <% @url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  <% end %>

  <br>

  <%= form.text_field :original_url, placeholder: 'Link' %>

  <%= form.submit 'Generate Link' %>
<% end %>