Your URL is <a href="<%= @url.text %>"><%= @url.text %></a> and will expire on <%= @url.expires_on %>
<br>
<br>
Short URL:
  <a href="<%= "#{@hostname}/#{@url.shortened_text}" %>">
    <%= "#{@hostname}/#{@url.shortened_text}" %>
  </a>